name: Run Tests
on:
 push:
  branches:
    - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          distribution: 'temurin'
          node-version: '21'

      - name: install and build tests
        run: mvn -B install -D skipTests --no-transfer-progress

      - name: install playwright browsers
        run: npx playwright install --with-deps

      - name: run tests
        run: mvn -B tests -D playwright.skip=false --no-transfer-progress
      